@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://use.typekit.net/nkq8fly.css');
@font-face {
  font-family: 'tungstenw05-medium';
  src: url('/fonts/tungstenw05-medium.woff2') format('woff2'),
    url('/fonts/tungstenw05-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Uncomment while going LIVE 
@font-face {
  font-family: 'tungstenw05-medium';
  src: url('/content/dam/infosys-web/en/fonts/tungstenw05-medium.woff2')
      format('woff2'),
    url('/content/dam/infosys-web/en/fonts/tungstenw05-medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}*/
body,
html {
  background-color: #fff;
  color: #000;
  font-family: myriad-pro, Arial;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
a:focus {
  outline: 2px solid blue;
  outline-offset: -2px;
}
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
.submenu-portion .h2-heading {
  margin: 0 0 10px;
  color: #000;
}
.menu .align-list > ul > li {
  margin-bottom: 0 !important;
}
.align-list > ul > li > a {
  font-weight: 400;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mt-10,
.my-10 {
  margin-top: 10px !important;
}
.mb-10,
.my-10 {
  margin-bottom: 10px !important;
}
.mt-20,
.my-20 {
  margin-top: 20px !important;
}
.mb-20,
.my-20 {
  margin-bottom: 20px !important;
}
.mt-30,
.my-30 {
  margin-top: 30px !important;
}
.mb-30,
.my-30 {
  margin-bottom: 30px !important;
}
.mt-40,
.my-40 {
  margin-top: 40px !important;
}
.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}
.mt-50,
.my-50 {
  margin-top: 50px !important;
}
.mb-50,
.my-50 {
  margin-bottom: 50px !important;
}
.pt-100,
.py-100 {
  padding-top: 100px !important;
}
.pb-100,
.py-100 {
  padding-bottom: 100px !important;
}
.pt-75,
.py-75 {
  padding-top: 75px !important;
}
.pb-75,
.py-75 {
  padding-bottom: 75px !important;
}
.pt50.pb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ptb15 {
  padding: 15px 0;
}
.open > .icon-bar11,
.open > .icon-bar31 {
  background-color: #061838 !important;
}
.menu ul li {
  margin-bottom: 10px !important;
}
/*--------------------------------------------------------------
# Fontweight
--------------------------------------------------------------*/
.fontweight300 {
  font-weight: 300 !important;
}
.fontweight400 {
  font-weight: 400 !important;
}
.fontweight600 {
  font-weight: 600 !important;
}
.fontweight900 {
  font-weight: 900 !important;
}
/*--------------------------------------------------------------
# Color CSS 
--------------------------------------------------------------*/
.color-white {
  color: #ffffff !important;
}
.color-black {
  color: #000000 !important;
}
.color-grey {
  color: #cccccc !important;
}
.color-sapphire-d {
  color: #061838 !important;
}
.color-sapphire-m {
  color: #0f9ffa !important;
}
.color-sapphire-l {
  color: #92d1ff !important;
}
.color-sapphire-lbg {
  color: #bee3ff !important;
}
.color-coral-d {
  color: #4c0519 !important;
}
.color-coral-m {
  color: #f16c51 !important;
}
.color-coral-l {
  color: #fbc2ba !important;
}
.color-coral-lbg {
  color: #fcddd6 !important;
}
.color-topaz-d {
  color: #2f1113 !important;
}
.color-topaz-m {
  color: #df9926 !important;
}
.color-topaz-l {
  color: #eac8a5 !important;
}
.color-topaz-lbg {
  color: #ece1ce !important;
}
.color-jade-d {
  color: #09321d !important;
}
.color-jade-m {
  color: #00b28f !important;
}
.color-jade-l {
  color: #a8d7cd !important;
}
.color-jade-lbg {
  color: #d8e7da !important;
}
.color-amethyst-d {
  color: #372261 !important;
}
.color-amethyst-m {
  color: #963596 !important;
}
.color-amethyst-l {
  color: #d0b5d5 !important;
}
.color-amethyst-lbg {
  color: #e6dbe6 !important;
}
.color-onyx-d {
  color: #3f3f3f !important;
}
.color-onyx-m {
  color: #7e7e7e !important;
}
.color-onyx-l {
  color: #b8b8b8 !important;
}
.color-onyx-lbg {
  color: #dadada !important;
}
/*--------------------------------------------------------------
# Background CSS 
--------------------------------------------------------------*/
.bg-white {
  background-color: #fff !important;
}
.bg-blue {
  background-color: #0f9ffa !important;
}
.bg-black {
  background-color: #000 !important;
}
.bg-egyptian-blue {
  background-color: #213f98 !important;
}
.bg-light-white {
  background-color: #f2f2f2 !important;
}
.bg-light-grey {
  background-color: #f8f8f8 !important;
}
.bg-darkblue {
  background-color: #372261 !important;
}
.bg-purple {
  background-color: #963596 !important;
}
.bg-green {
  background-color: #1995a4 !important;
}
.bg-cyan {
  background-color: #0f9ffa !important;
}
.bg-twittercyan {
  background-color: #4fb6dc !important;
}
.bg-orange {
  background-color: #df9926 !important;
}
.bg-sapphire-dark {
  background-color: #061838 !important;
}
.bg-sapphire-medium {
  background-color: #0f9ffa !important;
}
.bg-sapphire-light {
  background-color: #92d1ff !important;
}
.bg-sapphire-less-light {
  background-color: #bee3ff !important;
}
.bg-coral-dark {
  background-color: #4c0519 !important;
}
.bg-coral-medium {
  background-color: #f16c51 !important;
}
.bg-coral-light {
  background-color: #fbc2ba !important;
}
.bg-coral-less-light {
  background-color: #fcddd6 !important;
}
.bg-topaz-dark {
  background-color: #2f1113 !important;
}
.bg-topaz-medium {
  background-color: #df9926 !important;
}
.bg-topaz-light {
  background-color: #eac8a5 !important;
}
.bg-topaz-less-light {
  background-color: #ece1ce !important;
}
.bg-jade-dark {
  background-color: #09321d !important;
}
.bg-jade-medium {
  background-color: #00b28f !important;
}
.bg-jade-light {
  background-color: #a8d7cd !important;
}
.bg-jade-less-light {
  background-color: #d8e7da !important;
}
.bg-amethyst-dark {
  background-color: #372261 !important;
}
.bg-amethyst-medium {
  background-color: #963596 !important;
}
.bg-amethyst-light {
  background-color: #d0b5d5 !important;
}
.bg-amethyst-less-light {
  background-color: #e6dbe6 !important;
}
.bg-onyx-dark {
  background-color: #3f3f3f !important;
}
.bg-onyx-medium {
  background-color: #7e7e7e !important;
}
.bg-onyx-light {
  background-color: #b8b8b8 !important;
}
.bg-onyx-less-light {
  background-color: #dadada !important;
}
header {
  position: absolute;
  top: 35px;
  height: 35px;
  z-index: 9;
  left: 0;
  width: 100%;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.slider,
#hero_slider {
  height: 100vh;
  position: relative;
}
.repeated-css {
  width: 100%;
  height: 100vh;
}
.caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0px, -50%) !important;
  -moz-transform: translate(0px, -50%) !important;
  -ms-transform: translate(0px, -50%) !important;
  -o-transform: translate(0px, -50%) !important;
  transform: translate(0px, -50%) !important;
  width: auto;
  color: #fff;
}
.hero-head {
  font-size: 130px;
  line-height: 0.8;
  margin: 0 0 10px;
  font-family: 'tungstenw05-medium', 'Oswald', sans-serif;
}
.hero-para {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
}
.repeated-css:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.owl-item {
  overflow: hidden;
}
.slide-image {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  width: auto !important;
}
.owl-theme .owl-controls {
  margin-top: 0px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  color: white;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-dots {
  bottom: 25px;
  position: absolute;
  width: 100%;
}
/* Dots CSS */
.owl-theme .owl-dots .owl-dot {
  cursor: pointer;
  height: 16px;
  margin: 0 16px;
  position: relative;
  width: 16px;
}
.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  box-shadow: 0 0 0 2px white inset;
  overflow: hidden;
  transition: background 0.3s ease 0s;
}
.owl-theme .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  left: 0;
  outline: medium none;
  position: absolute;
  text-indent: -999em;
  top: 0;
  width: 100%;
}
.owl-theme .owl-dots .owl-dot.active span::after {
  height: 100%;
}
.owl-theme .owl-dots .owl-dot span::after {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 0 1px #fff;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  transition: height 0.3s ease 0s;
  width: 100%;
  border-radius: 50%;
}
/* End */
.owl-prev,
.owl-next {
  background-repeat: no-repeat;
  width: 31px;
  height: 56px;
  text-indent: -9999px;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: #fff;
}
.owl-next {
  right: 0;
}
/* FOOTER */
.skip-main-cnt,
.skip-footer {
  background: #df9926;
  height: auto;
  left: 0%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  color: #ffffff;
  z-index: 9999;
  outline: 0 !important;
}
.skip-main-cnt:focus,
.skip-footer:focus {
  transform: translateY(0%);
  color: #ffffff;
}
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 18px;
  display: none;
  z-index: 1;
}
footer {
  position: relative;
  background: #f8f8f8;
  color: #333;
  border-top: 5px solid #d8d8d8;
}
ul.footer-txt > li:first-child {
  margin-top: 20px;
}
ul.footer-txt > li {
  margin-bottom: 10px;
}
ul.footer-txt > li > a {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 400;
}
.ul.footer-txt > li > a:hover {
  text-decoration: none;
}
.ftr-head {
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  margin-top: 0;
}
.country {
  position: relative;
  z-index: 1;
}
.up-arrow,
.down-arrow {
  position: relative;
  margin-left: 100px;
  z-index: -1;
}
.up-arrow:before,
.down-arrow:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #333;
  font-size: 18px;
  /*position: absolute;*/
  top: 2px;
  left: 0;
}
.up-arrow:before {
  content: '\f0d8';
}
.down-arrow:before {
  content: '\f0d7';
}
.select-country > a {
  border: 1px solid #7e7e7e;
  padding: 5px 15px;
  display: inline-block;
  color: #3f3f3f;
}
.select-country > a:hover,
.select-country > a:focus {
  color: #3f3f3f;
  text-decoration: none;
}
.option-country {
  display: none;
}
.open-country {
  display: block;
  position: relative;
}
.country-align {
  position: absolute;
  top: -238px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #fff;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  -webkit-box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}
.country-align > li > a {
  color: #7e7e7e;
  padding: 10px 15px;
  display: block;
}
.country-align > li > a:hover {
  background: #63b0ff;
  color: #fff;
}
.main-banner-wrapper{
position: relative;  
}
.main-banner-wrapper .row{
display: flex;
height: 100vh; 
}
.content-wrapper{
position: absolute;
top: 40%;
z-index: 1;
left: 10%;  
transform: translateY(-50px);
max-width: 60%;
}
.banner-title{
font-size: 100px;
font-family: 'tungstenw05-medium';  
}
.main-banner-wrapper .image-wrapper img{
position: absolute;
top: 25%;  
transform: translateY(-50px);
right: 200px;
}
.left-box{
background: #bee3ff;  
}
.right-box{
background: #061838;  
}
/* image grid css code */
.image-grid{
display: grid;
grid-gap: 5px;  
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-auto-rows: 320px;
grid-auto-flow: dense;
}
.horizontal{
background-color: #00b28f;
grid-column: span 2;  
}
.vertical{
background-color: #09321d;
grid-row: span 2;  
}
.big{
background-color: #4fb6dc;
grid-column: span 2;
grid-row: span 2;  
}
.normal{
background-color: #0f9ffa;  
}
.image-grid>div{
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 30px;
font-family: 'tungstenw05-medium';  
}
.image-grid div img{
 width: 80%; 
}
.image-grid .horizontal img{
width: 60%;
}
/* timeline slider code start */
.slider-title
{
  font-size: 100px;
  font-family: 'tungstenw05-medium';
  line-height: 0.9;
  letter-spacing: 3px;
}
.video-wrapper-single-box {
  position: relative;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
}
.timeline-content {
  position: absolute;
  bottom: 0px;
  padding: 16px 15px;
}
.slider-image-wrapper img{
  object-fit: cover;
  height: 350px;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}
.timeline-title{
font-family: 'tungstenw05-medium';
font-size: 40px;  
}
.slider-image-wrapper:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(179deg, #7153d900 0%, #5435be00 45%, #000000ab 66%);
  border-radius: 20px;
}
.hover-effect{
  position: absolute;
  bottom: -100px;
  transition: all .5s ease;
  opacity: 0;
}
.hover-effect .arrow-img{
height: 40px;  
}
.video-wrapper-single-box:hover .hover-effect {
  top: 10px;
  opacity: 1;
  bottom: unset;
  right: 10px;
}
.video-wrapper-single-box:hover .slider-image-wrapper img{
  transform: scale(1.2);
  border-radius: 20px;
}
@media only screen and (max-width: 1024px) {
  .slider,
  #hero_slider,
  .repeated-css {
    height: 600px;
  }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 767px) {
  .mt-0-xs,
  .my-0-xs {
    margin-top: 0 !important;
  }
  .mb-0-xs,
  .my-0-xs {
    margin-bottom: 0 !important;
  }
  .mt-10-xs,
  .my-10-xs {
    margin-top: 10px !important;
  }
  .mb-10-xs,
  .my-10-xs {
    margin-bottom: 10px !important;
  }
  .mt-20-xs,
  .my-20-xs {
    margin-top: 20px !important;
  }
  .mb-20-xs,
  .my-20-xs {
    margin-bottom: 20px !important;
  }
  .mt-30-xs,
  .my-30-xs {
    margin-top: 30px !important;
  }
  .mb-30-xs,
  .my-30-xs {
    margin-bottom: 30px !important;
  }
  .mt-40-xs,
  .my-40-xs {
    margin-top: 40px !important;
  }
  .mb-40-xs,
  .my-40-xs {
    margin-bottom: 40px !important;
  }
  .mt-50-xs,
  .my-50-xs {
    margin-top: 50px !important;
  }
  .mb-50-xs,
  .my-50-xs {
    margin-bottom: 50px !important;
  }
  .mt-75-xs,
  .my-75-xs {
    margin-top: 75px !important;
  }
  .mb-75-xs,
  .my-75-xs {
    margin-bottom: 75px !important;
  }
  .mt-100-xs,
  .my-100-xs {
    margin-top: 100px !important;
  }
  .mb-100-xs,
  .my-100-xs {
    margin-bottom: 100px !important;
  }
  .pt-75-xs,
  .py-75-xs {
    padding-top: 75px !important;
  }
  .pb-75-xs,
  .py-75-xs {
    padding-bottom: 75px !important;
  }
  .pt-100-xs,
  .py-100-xs {
    padding-top: 100px !important;
  }
  .pb-100-xs,
  .py-100-xs {
    padding-bottom: 100px !important;
  }
  .slider,
  #hero_slider,
  .repeated-css {
    height: 480px;
  }
  footer ul {
    margin-bottom: 10px;
  }
  .select-country > a {
    color: #7e7e7e;
  }
  .select-country > a:hover,
  .select-country > a:focus {
    color: #7e7e7e;
  }
  .pull-left-xs {
    float: left !important;
  }
}
@media only screen and (max-width: 680px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 360px) {
}
